@each $side in top, bottom, right, left {

  .gutter-#{$side} {
    margin-#{$side}: $gutter;
  }

  .half-gutter-#{$side},
  .one-half-gutter-#{$side} {
    margin-#{$side}: $gutter / 2;
  }

  .one-third-gutter-#{$side},
  .third-gutter-#{$side} {
    margin-#{$side}: $gutter / 4;
  }

  .quarter-gutter-#{$side},
  .one-quarter-gutter-#{$side} {
    margin-#{$side}: $gutter / 4;
  }

  .small-gutter-#{$side} {
    margin-#{$side}: $small-gutter;
  }
}

.align-right {
  text-align: right;
}

.auto-center {
  margin: 0 auto;
}

.display-block {
  display: block;
}

.center {
  text-align: center;
}

.background-white {
  background-color: $white;
}